/* Adjacent Sibling */
/* h2 + p {
    color: red;
} */

/* General Sibling */
/* h2 ~ p {
    color: red;
} */

/* Child*/
/* div > p {
    color: red;
} */

/* Descentant */
div p {
    color: blue;
}