body {
    color: white;
    background-image: url('../pics/tinified/fondo.png');
    background-position:center;
}

.titulo {
    padding-top: 100px;
    text-align: center;
    font-family: Helvetica;
}

.subtitulo {
    text-align: center;
    font-family: Helvetica;
}

ul {
    text-align: center;
    display: inline-flex;
    list-style: none;
}

li {
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

a {
    color: white;
    text-decoration: none;
}
figure {
    width: 80px;
    height: 80px;
    border: grey 1px solid;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

footer {
    text-align: center;
    font-family: fantasy;
    color: slategray;
    font-size: 15px;
}
